<h1>BlogPosts</h1>
<h2>Where you post it, you got it, you update it and delete it !!!</h2>
	<a href="http://localhost:3000/posts/new">Add New Post ?</a>
	<a href="http://localhost:3000/about">About</a>
	<br>
	<br>
<% @post.each do |post| %>
	<hr>
	<h3><%= post.title %></h3>
	<p><%= truncate(post.body, :length => 250) %></p>
	<br>
	<%= link_to "Read Post", post %>
<% end %>