<!DOCTYPE html>
<html>
  <head>
    <title>SimpleBlog</title>
    <%= csrf_meta_tags %>
   
  </head>
  <body>
    <h1>Welcome To AshBlog</h1>
    <h2>Where You POST IT, UPDATE IT & DELETE IT ! </h2>
  	<%= link_to "Home", root_path %>
  	<%= link_to "New Post", new_post_path %>
    <%= yield %>
  </body>
</html>
